<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand">Cloudbreak</a>
    </div>
    <!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="fa fa-chevron-right" aria-hidden="true"></span></button>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages navbar-menu-dropdown">
                    <li>
                        <a>
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li>
                        <a class="text-center">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks navbar-menu-dropdown">
                    <li>
                        <a>
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-center">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts navbar-menu-dropdown" id="menu">
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-center">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user navbar-menu-dropdown">
                    <li><a><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- bs-example-navbar-collapse-1 -->

</nav>
<div id="wrapper" ng-controller="mainController">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-controller="menuController">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li ng-class="{ 'active': $root.menuPanel.credentialsActive }" ng-click="changeActiveMenu('credentialsActive')">
                <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-key fa-stack-1x "></i></span> Credentials</a>
            </li>
            <li ng-class="{ 'active': $root.menuPanel.templatesActive }" ng-click="changeActiveMenu('templatesActive')">
                <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-cubes fa-stack-1x "></i></span> Templates</a>
            </li>
            <li ng-class="{ 'active': $root.menuPanel.networksActive }" ng-click="changeActiveMenu('networksActive')">
                <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-wifi fa-stack-1x "></i></span>Networks</a>
            </li>
            <li ng-class="{ 'active': $root.menuPanel.securityGroupsActive }" ng-click="changeActiveMenu('securityGroupsActive')">
                <a> <span class="fa-stack fa-lg pull-left"><i class="fa fa-user-secret fa-stack-1x "></i></span>Security Groups</a>
            </li>
            <li ng-class="{ 'active': $root.menuPanel.blueprintsActive }" ng-click="changeActiveMenu('blueprintsActive')">
                <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-object-group fa-stack-1x "></i></span>Blueprints</a>
            </li>
            <li ng-class="{ 'active': $root.menuPanel.recipesActive }" ng-click="changeActiveMenu('recipesActive')">
                <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-cutlery fa-stack-1x "></i></span>Recipes</a>
            </li>
            <li ng-class="{ 'active': $root.menuPanel.stacksActive }" ng-click="changeActiveMenu('stacksActive')">
                <a><span class="fa-stack fa-lg pull-left"><i class="fa fa-share-alt fa-stack-1x "></i></span>Stacks</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div ng-include src="'partials/credentials/list.tag'" ng-show="$root.menuPanel.credentialsActive"></div>
        <div ng-include src="'partials/templates/list.tag'" ng-show="$root.menuPanel.templatesActive"></div>
    </div>
    <!-- /#page-content-wrapper -->
</div>